article {
    background-color: rgb(247, 180, 196);}
.classe1 {
    background-color: rgb(187, 236, 114);}
#id1 {
    background-color: rgb(209, 148, 15);}
.fonte {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}